.home.posts {
    .featured-image-preview {
        aspect-ratio: auto 1000 / 350 !important;
    }
}

@font-face {
    font-family: 'LXGWWenKai-Regular';
    src: url('../font/LXGWWenKai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$global-font-family: "LXGWWenKai-Regular", sans-serif;
$code-font-family: "JetBrains Mono", Consolas, monospace;